.step2-elements {
    display: flex;  
}

.chosen-img{
    width: 40%;  
    .chosen-pic {
        border: 1px solid rgba(46, 49, 49, 1); 
        display: block; 
        margin: 0 auto; 
         
    }
}

.typing-sec{
    width: 60%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.txt-add-form{ 
    display: flex; 
    flex-direction: column; 
}
.txt-add-ttl{
    font-size: 1.2rem;
    color: #fff; 
}
