.step3-img {
    background: 
        linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) );
        // url(../../imgs/step3.jpg); 
    background-size: cover; 
    background-position: 50% 25%;
    height: 80vh; 
    
}

.ready-mem-ctn {
    margin: 0 auto; 
    border: 1px solid gray; 
    width: 75%; 
}